<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filter article</title>
</head>
<body>
    <div class="popular_articles">
        <h3>{{title}}</h3>
        <hr>
        {% for article in articles %}
            <div>
                <a href="{% url 'blog:detail' article.slug %}">{{article.title}}</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>