{% extends 'blog/base.html' %}
{% load static %}
{% load comment_tags %}  {# Loading the template tag #}
{% load ratings %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block custome-header %}
        
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> بلاگ {% block title %}
            | {{object.title}}
        {% endblock %}
    </title>
</head>
<body>
    {% block main %}
       <!-- Page Header-->
       <header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1> {{object.title}}</h1>
                        {% if article.is_special %}
                            <span class="badge badge-danger" style = "font-size:15px">ویژه</span>  
                        {% endif %}
                        <time>
                            {{object.jpublish}}
                        </time>
                        <div>
                            {% ratings object %}
                        </div>
                        <div>
                            <h6> بازدیدها:
                                {{object.hits.count}}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
         <!-- Post Content-->
         <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                        {% if object.is_special %}
                            {% if user.is_authenticated and user.is_special_user or user ==  object.author or user.is_superuser %}
                                {{object.descriptions|safe}}
                            {% else  %}
                                {{article.descriptions|striptags|truncatewords:25}}
                                <p class="alert alert-warning">این مقاله ویژه است و برای مشاهده آن باید <a href="#" class="badge bg-white text text-primary"> اشتراک ویژه </a>تهیه بکنید.</p>
                            {% endif %}
                        {% else  %}
                            {{object.descriptions|safe}}
                        {% endif %}

                        {% render_comments object request %}
                        {% include_bootstrap %}
                        
                    </div>
                </div>
            </div>
        </article>
    {% endblock %}
</body>
</html>